html(lang="ko")
    head
        meta(charset="utf-8")
        link(href='/css/newsBox.css', rel='stylesheet')
    body
        div.all_news_box
            div.news_box
                - for(var index = 0 ; index < newsDatas.length; ++index){
                    table(border=1)
                        tbody
                            th
                                td #{newsDatas[index].NewsName}
                            - for(var index_1 = 0 ; index_1 < newsDatas[index].NewsTitles.length; ++index_1){
                                - if(index_1 < 5){
                                    tr
                                        td
                                            a(href=newsDatas[index].NewsTitles[index_1].NewsTitleHerf) #{newsDatas[index].NewsTitles[index_1].NewsTitle}
                                - }    
                            - }    
                - }
