table {
    width: 330px;
    float: left;
    table-layout:fixed;
}
td {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.all_news_box {
    border: 1px solid;
    width: 100%;
    text-align: center;
}

.news_box {
    border: 1px solid;
    width: 1000px;
    display: inline-block;
}
